name: bt 下载
on:
  workflow_dispatch:
    inputs:
      bt:
        description: '磁力链接'
        type: string
      name:
        description: '文件名'
        default: download
        type: string

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: 安装 aria3
        run: |
          sudo apt-get update
          sudo apt-get install aria2
      - name: 下载
        run: aria2c --seed-time=0 --bt-seed-unverified=false --dir=download '${{ inputs.bt }}'
      - name: 上传文件
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.name }}
          path: download
