name: 镜像网站

on:  # 每天午夜运行一次
  workflow_dispatch:      # 允许手动触发工作流
    inputs:
      clean:
        description: '是否清理空间'
        type: boolean

jobs:
  mirror:
    runs-on: ubuntu-latest
    env:
      LANG: zh_CN.UTF-8

    steps:
      - name: 安装依赖
        run: |
          sudo apt-get update
          sudo apt-get install -y language-pack-zh-hans wget
      - name: 清理空间
        if: ${{ inputs.clean }}
        uses: rokibhasansagar/slimhub_actions@main

      - name: 镜像网站
        run: |
          mkdir wiki
          cd wiki
          wget -m --user-agent="Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:140.0) Gecko/20100101 Firefox/140.0" https://wiki.octave.org/
        
      - name: 上传
        uses: actions/upload-artifact@v4
        with:
          name: wiki
          path: wiki
    