name: yt 下载测试

on:
  workflow_dispatch:
    inputs:
      url:
        description: '输入要测试下载的 URL'
        required: true

jobs:
    yt-dlp-test:
      runs-on: ubuntu-latest
      steps:
  
      - name: 安装 yt-dlp
        run: |
          python -m pip install --upgrade pip
          pip install yt-dlp
          python3 -m pip install -U bgutil-ytdlp-pot-provider
  
      - name: Test yt-dlp download
        run: |
          yt-dlp ${{ inputs.url }}

      - name: 上传下载的文件作为工件
        uses: actions/upload-artifact@v4
        with:
          name: downloaded-files
          path:
            *.mp4